.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    z-index: 2;
    height: 100px;
  }
  
  .footerlogo {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
  }
  
  .text-muted {
    font-size: 12px;
  }
  
  .container {
    max-width: 1;
  }
  
  .footer-links {
    position: relative;
  z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .footer-link {
    color: var(--secondary-color);
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
  }
  